# Multiple Linear Regression

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv("dataset/Admission_predict.csv")

In [3]:
dataset.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [16]:
class MLR(object):
    
    def __init__(self):
        self.coefficients = []
    
    def reshape_input(self, X):
        return X.reshape(-1, 1)
    
    def concatenate_ones(self, X):
        ones = np.ones(shape = X.shape[0]).reshape(-1, 1)
        return np.concatenate((ones, X), 1)
    
    def fit(self, X, Y):
        if len(X.shape) == 1: X = self.reshape_input(X)
        X = self.concatenate_ones(X)
        self.coefficients = np.linalg.inv(X.transpose().dot(X)).dot(X.transpose()).dot(Y)
        
    def predict(self, entry):
        prediction = b0 = self.coefficients[0]
        other = self.coefficients[1:]
        for xi, bi in zip(entry, other):
            prediction += (bi*xi)
        return prediction

In [17]:
X = dataset.drop('Chance of Admit', axis=1).values
Y = dataset['Chance of Admit'].values

In [18]:
model = MLR()
model.fit(X, Y)

In [19]:
model.coefficients

array([-1.29364902e+00,  1.59313401e-04,  1.79901054e-03,  3.68217418e-03,
        8.78497695e-03,  9.93694120e-05,  2.15369726e-02,  1.05298032e-01,
        2.43772863e-02])

In [20]:
model.predict(X[0])

0.920280149421613

In [21]:
y_preds = []
for row in X: y_preds.append(model.predict(row))

In [24]:
result = pd.DataFrame({
    'Actual' :  Y,
    'Predicted' : np.ravel(y_preds)
})

In [25]:
def rmse_metric(actual, predicted):
    sum_error = 0.0
    for i in range(len(actual)):
        sum_error += (predicted[i] - actual[i])**2
    mean_square_error = sum_error / float(len(actual))
    return np.sqrt(mean_square_error)

In [28]:
rmse_metric(result['Actual'], result['Predicted'])

0.0606276541577298